@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1220px;
    padding: 1rem;
    margin: 0 auto;
    height: 100px;
    align-items: center;
}
nav{
    display: flex;
    gap: 2rem;
}
nav li a {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: #333333;
    transition: all 0.3 ease;
}
nav li a:not(.active):hover{
    color: #5c48ee;
}
nav li a.active{
    color: #fff;
    background-color: #5c48ee;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}
nav li a.active:hover{
    background-color: #0f1e6a;
}
.logo-nav a{
    font-size: 1.5rem;
    font-weight: 500;
    color: #5c48ee;
}
.nav-mobile{
    display: none;
}
.section-content-header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    margin: auto;
    gap: 5rem;
    min-height: 100vh;
}
img{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}
.left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    place-content: center;
    position: relative;
}
.left-content h1{
    font-size: 3rem;
    line-height: 3.5rem;
    width: 100%;
}
.left-content h1 span:nth-child(1){
    font-weight: 400;
}
.left-content h1 span:nth-child(2){
    font-weight: 700;
    color:#0f1e6a;
}
.left-content h1 span:nth-child(3){
    font-weight: 700;
    color: #5c48ee;
}
.left-content p{
    color: #333333;
    margin: 1rem 0 1.5rem 0;
}
.left-content form {
    display: flex;
    align-items: center;
    width: 100%;
}
.left-content form input{
    border: none;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 0.8rem;
    max-width: 300px;
    width: 100%;
    outline: 0;
}
.left-content form button {
    border: none;
    background-color: #5c48F2;
    color: #fff;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.right-content img:nth-child(2){
    transform: translateY(-70px);
}
.content-text{
    position: absolute;
    background: linear-gradient(to right , rgba(92,72,238,0.6) , rgba(15,30,106,0.4));
    backdrop-filter: blur(30px);
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-35% , -50%);
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 310px;
}
.content-text li{
    margin-bottom: 0.5rem;
    list-style: disc;
}
.section-nav .ham{
    transition: all 250ms ease-out;
    border-bottom: 2px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
}
#check:checked + label + .mob{
    transform: translateX(0);
}
#check:checked + label span:first-child{
    transform: rotate(130deg);
}
#check:checked + label span.mid{
    transform: translateX(10px);
    opacity: 0;
}
#check:checked + label span:last-child{
    position: relative;
    top: -8.5px;
    transform: rotate(-130deg);
}
@media screen and (max-width: 999px){
    .nav-mobile{
        display: block;
    }
    .section-nav nav.desc{
        display: none;
    }
    .section-content-header{
        grid-template-columns: repeat(1,1fr);
    }
    .left-content{
        text-align: center;
    }
    .left-content form{
        justify-content: center;
    }
    .right-content img:nth-child(2){
        transform: translateY(0);
    }
    .mob{
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        padding: 2rem 0 2rem 2rem;
        height: 100%;
        transition: all 250ms ease-out;
        transform: translateX(-350px);
    }
}